@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-brown: #4A2C1B;
  --light-beige: #F5EFE6;
  --medium-beige: #C9A78B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-brown: var(--dark-brown);
  --color-light-beige: var(--light-beige);
  --color-medium-beige: var(--medium-beige);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--light-beige);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
